.card
    background-color #fff
    box-shadow soft-shadow
    font-family roboto
    padding 1em
.card-larg
    display flex 
    flex-direction column 
    @media(min-width: desktop)
        flex-direction row
        position relative
        &:after
            background-color rgba(51, 51, 51, 0.13)
            content ""
            height 9em
            left 9.5em
            position absolute
            top 1em
            width 0.06em  
        .card-left, .card-right
            display flex 
            flex-direction column
            text-align center
            width 50%
        .card-left 
            padding 2em
            .fa 
                color #673ab7
                font-size 4em     
        .card-right
            color #6d6d6d    
            h2                 
                font-size 1.2em
                text-transform uppercase
            span                
                font-size 4.7em 
                font-weight 500         