*
    box-sizing border-box   
    font-size 100%
    line-height 1.1
    margin 0
    padding 0
    a, a:hover
        text-decoration none
    li
        list-style-type none 
    audio, img, iframe, video 
        display inline 
        width 100%
    direction-flex= ".main, .header, .container"
    {direction-flex}
        display flex
        flex-direction column 
        @media(min-width: desktop)    
            flex-direction row