.main
    .wrap
        background-color #F1E9DA
        position relative
        width 100%
        .config-theme
            position fixed
            right 2em
            top 3em
            width 3.5%
            .bt 
                .fa
                    font-size 1.5em
        .contents            
            margin 1em 0.5em
            min-height 35em
            width 93%
footer 
    padding 0.8em 0                   
        @media(min-width: desktop)
            min-height 40em
            width 97%
            .wrap
                .config-theme
                    position absolute
                    top 4.2em