.top
    background-color #673ab7
    box-shadow soft-shadow
    padding 0.2em
    .bt-hide
        background-color transparent 
        border none 
        padding 0.2em
        .fa             
            font-size 1.8em
    .search-top
        input[type="search"]
            background-color transparent 
            border 0.04em solid #fff 
            border-radius 3px
            padding 0.5em
            width 70%            
    white_color=".bt-hide .fa, .search-top input[type='search']::placeholder, .links-top a"
    {white_color}            
        color #fff
    .links-top
        left: 10em;
        position: relative;
        width: 44%;
        a 
            display inline-block            
            font-size 1.4em
            font-weight 700
            margin-top 0.2em
            padding 0 0.8em   
            text-transform uppercase         
